body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 101px;
}
.start-btn {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "BPG Arial";
  text-decoration: none;
  color: var(--darkText);
  text-align: center;
}
.start-btn:hover {
  cursor: pointer;
  font-size: 32px;
}

.logo {
  width: 100px;
}
