body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkText);
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  letter-spacing: 0.54rem;
  color: var(--white);
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
